#banner{
	width: 100%;
}
#banner {
	width: 100%;
	height: 300px;
	background-image: url(images/jatra-1.jpeg);
	background-size: cover;
	background-position: top 25% right 0;
	background-size: 100%;
	border-radius: 8px;
	animation: slider 60s infinite running;
}
@keyframes slider{
	25%{ background-image: url(images/jatra.jpeg); }
	50%{ background-image: url(images/jatra-1.jpeg); }
	75%{ background-image: url(images/jatra.jpeg); }
}

#container1{
	background: var(--nav-color);
	padding-left: 20%;
	padding-right: 6%;
	padding-top: 0px;
	padding-bottom: 0px;
	
}

#flex-div{
	display: flex;
	align-items: center;

	padding: 0px 2%;
	justify-content: space-between;
/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
	background:white;
	position: static;
	top: 0;
	border-radius: 10px;
	box-shadow: none;
	z-index: 10;


}
.nav-right #btn{
	background-color: whitesmoke;
	color: black;
	font-size: 20px;
	
	padding: 10px 25px;
	border: 0;
	border-radius: 20px;
	margin: 10px 5px;

}

.nav-right #btn p{
	font-size: 14px;
}
.nav-right  i{
	padding: 10px 10px;
	margin-right: 10px;
	font-size: 20px;
	
}


#container2{
	background: var(--nav-color);
	padding-left: 20%;
	padding-right: 6%;
	padding-top: 0px;
	padding-bottom: 0px;
	width: 100%;

}
#feat p{
	color: black;
	padding-top: 20px;
	padding-left: 20px;
	font-weight: bold;

}
#left{
	display: flex;
}
#left #sandip{
	padding: 0px 20px;
}


#flex-div_2{
	display: flex;
	align-items: center;
	padding: 0px 2%;
	padding-left: 130px;
	justify-content: space-between;
/*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); */
	background:white;
	position: static;
	top: 0;
	border-radius: 10px;
	box-shadow: none;
	z-index: 10;


}
.nav-left_1 img{
	border-radius: 50%;
	padding: 20px;
}
.nav-middle_1{
	margin: 20px 0px;
	width: 800px;
	margin-right: 50px;
	padding-left: 100px;

	
}
.nav-middle_1 #top a{
	font-size: 18px;
	
}
.nav-middle_1 #Middle a{
	font-size: 12px;
	
}
.nav-middle_1 #bottom a{
	font-size: 12px;
}

/*   ---------------------- main ------------------------- */
#container{
	background: var(--nav-color);
	padding-left: 20%;
	padding-right: 6%;
	padding-top: 20px;
	padding-bottom: 20px;
}

.list-container{
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(250px,1fr));
	grid-column-gap: 16px;
	grid-row-gap: 30px;
	margin-top: 15px;
}
.vid-list  .thumbnail{
	width: 100%;
	border-radius: 5%;
}
.vid-list .flex-div{
	align-items: flex-start;
	margin-top: 7px;
}
.vid-list .vid{
	width: 100%;
	background-size: cover;
	border-radius: 10px;
}
.vid-list .flex-div img{
	width: 35px;
	margin-right: 10px;
	border-radius: 50%;
}
.vid-info{
	color: #5a5a5a;
	font-size: 13px;
}
.vid-info a{
	color: var(--a-color);
	height: 5vh;
	display: block;
	margin-bottom: 5px;
	overflow: hidden;
	font-size: 14px;
	font-weight: bold;

}


#reels{
	
	width: 100%;
}
#Shorts{
	padding-top: 25px;
	display: flex;
}
#Shorts a{
	display: flex;
	align-items: center;
	width: fit-content;
	width: 100%px;
	color: black;

	
}
#Shorts #t p{
	color: whitesmoke;
	font-size: 14px;
	padding-right: 10px;
	background: black;
	padding: 10px 15px;
	margin-right: 20px;
	border-radius: 10px;
}
#Shorts #b p{
	color: gray;
	font-size: 14px;
	padding-right: 10px;
	background: whitesmoke;
	padding: 10px 15px;
	margin-right: 20px;
	border-radius: 10px;
}


#vid-list{
	width: 80%;
}
#vid-list #vid{
	width: 220px;
	background-size: cover;
	border-radius: 10px;
}

#vid-info{
	color: #5a5a5a;
	font-size: 13px;
	width: 250px;
}
#vid-info a{
	color: var(--a-color);
	height: 6vh;
	display: block;
	margin-bottom: 5px;
	overflow: hidden;
	font-size: 16px;

}

.nav-right_1 #btn{
	background-color: black;
	color: whitesmoke;
	font-size: 20px;
	
	padding: 10px 25px;
	border: 0;
	border-radius: 20px;
	margin: 10px 5px;

}
.nav-right_1 #btn:hover{
	background: gray;
}

.nav-right_1 #btn p{
	font-size: 14px;
}
#reels video{
	width: 210px;
	height: ;
	border-radius: 30px;
}

#reels#vid-info{
	color: #5a5a5a;
	font-size: 13px;
	width: 250px;
	padding-top: 0px;
}
#reels #vid-info a{
	color: var(--a-color);
	height: 4vh;
	display: block;
	margin-bottom: 5px;
	overflow: hidden;
	font-size: 13px;
	;

}





#story-container{
	padding-left: 0%;
	padding-right: 4%;
	display: flex;
}

#story-container .story-circle{
	background: white;

}
#story-container .story-circle a p{
	color: gray;
	font-weight: bold;
}
#story-container hr{
	border: 0;
	height: 1px;
	background: #ccc;
	width: 99%;

}
